@import "tailwindcss";

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color: #1f2937;
  /* Darker gray for better readability */
  background-color: #ffffff;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Style for HTML ELEMENTS */
@layer base {
  body {
    @apply text-base text-gray-700 overflow-x-hidden;
    /* Default text styles */
  }

  h2 {
    @apply text-[28px] md:text-[36px] lg:text-[40px] font-bold tracking-tighter leading-tight;
  }

  h3 {
    @apply text-lg lg:text-xl font-semibold text-gray-800;
  }

  p {
    @apply text-base text-gray-600 leading-relaxed;
  }

  section {
    @apply w-full py-16 md:py-24 lg:py-32;
  }
}

@theme {
  --color-primary: "#0E1A54";
}